<div id="company_royalty_pay_slip-modal" class="modal-dialog-lg modal fade"></div>
<div id="company_royalty_payment_detail-modal" class="modal-dialog-lg modal fade"></div>

<%if false%>
<div class="card">
  <div class="card-header">
    <h3>Payment Detail</h3>
  </div>
<div class="card-body">
    <table id="franchisee_table" class="table table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Date</th>
     <th>Franchisee</th>
      <th>Franchisee Type</th>
      <th>Amount</th>
      <th>Payment Status</th>
    </tr>
  </thead>

  <tbody>
   <% @royalty_details.each do |royalty_detail| %>
 
      <tr>
        <td><%=royalty_detail.created_at.strftime("%b-%Y")%></td> 
        <td><%= Franchisee.find(royalty_detail.franchisee_id).location %></td>
         <td><%=Franchisee.find(royalty_detail.franchisee_id).franchisee_type %></td>
         <td><%= royalty_detail.amount %></td>
            <td>
              <% if royalty_detail.paid_status == true %>
                  <%= link_to '<i class="btn-sm btn-blue fa fa-money" aria-hidden="true"> Paid</i>'.html_safe, company_paydetail_path(id: royalty_detail.id), remote: true %>
              <% else %>
                   <%= link_to '<i class="btn-sm btn-red fa fa-money" aria-hidden="true"> Unpaid</i>'.html_safe, company_payslip_path(id: royalty_detail.id), remote: true %>
              <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div> 

</div>

<%end%>







<ul class="nav nav-tabs active_tab_color" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><h6 style="font-style: italic;">Student Royalty</h6></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><h6 style="font-style: italic;">Franchisee Royalty</h6></a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade show in active" id="profile">
            <div class="card">
                <div class="card-header-1"></div>
              <div class="card-body">
                  <table id="student_royalty_pay_table" class="table table-striped display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Franchisee</th>
                        <th>Franchisee Type</th>
                        <th>Amount</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>

                <tbody>
                  <% @royalty_details.each do |royalty_detail| %>
                      <tr>
                          <td><%=royalty_detail.created_at.strftime("%b-%Y")%></td> 
                          <td><%= Franchisee.find(royalty_detail.franchisee_id).location %></td>
                          <td><%=Franchisee.find(royalty_detail.franchisee_id).franchisee_type %></td>
                          <td><%= royalty_detail.amount %></td>
                          <td>
                              <% if royalty_detail.paid_status == true %>
                                  <%= link_to '<i class="btn-sm btn-blue fa fa-money" aria-hidden="true"> Paid</i>'.html_safe, company_paydetail_path(id: royalty_detail.id), remote: true %>
                              <% else %>
                                  <%= link_to '<i class="btn-sm btn-red fa fa-money" aria-hidden="true"> Unpaid</i>'.html_safe, company_payslip_path(id: royalty_detail.id), remote: true %>
                              <% end %>
                          </td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
            </div> 
          </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="buzz">
      <%= render partial: "installment_details/index" %>
    </div>
</div>



<script type="text/javascript">
$(document).ready(function() {
  $("#student_royalty_pay_table").dataTable({
    columnDefs: [
    {orderable: false, targets: -1},
    {orderable: false, targets: -2},
    {orderable: false, targets: -3},
    ]
  });
});
</script>



<style type="text/css">
.btn-red{
background-color: #ea3346;
color: #fff;
}
.btn-blue{
  background-color: #007bff;
  color: #fff;
}

.btn-green{
  background-color: #059126;
  color: #fff;
}
.btn-orange{
color: #fff;
}
.crud{
    color: green;
  }
  .actn{
/*display: none;*/
width: 58px;
/*position: fixed;*/
background-color: #e26616;
right: 0px;
/*top: 303px;*/
z-index: 10;
border-radius: 8px;
height: 104px;
padding: 12px 5px;
}
.active_tab_color .nav-link.active{
background-color: #e67a3f;
color: #fff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
border-color: #e67a3f!important;
}
</style>





<!-- <script type="text/javascript">
  $(document).ready(function() {
var table = $('#franchisee_table').DataTable({
   "scrollY":  '50vh',
    "crollCollapse": true,
    "scrollX": true
});
    $('#franchisee_table tbody').on('click', 'tr', function () {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var id = $(this).attr('id'); 
            $(".side-pop").show();
            $("#show").attr("href","/franchisees/"+id);
            $("#destroy").attr("href","/franchisees/"+id);
           $("#edit").attr("href","/franchisees/"+id+"/edit");
    } ); 
});

  $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script> -->

