<!-- <p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Announcement date</th>
      <th>Message</th>
      <th>Is for all</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!% @announcements.each do |announcement| %>
      <tr>
        <td><!%= announcement.announcement_date %></td>
        <td><!%= announcement.message %></td>
        <td><!%= announcement.is_for_all %></td>
        <td><!%= link_to 'Show', announcement %></td>
        <td><!%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><!%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <!% end %>
  </tbody>
</table>

<br>

<!%= link_to 'New Announcement', new_announcement_path %>

 -->


<div class="card">
  <div class="card-header">
    <h3>Announcements
      <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_announcement_path, class: "head-title pull-right" %>
    </h3>
  </div>
<div class="card-body">
    <table id="announcement_table" class="table table-striped display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Announcement date</th>
      <th>Message</th>
      <th>Franchisee/Count</th>
      <th>Active/Deactive</th>
    
    </tr>
  </thead>

  <tbody>
   <% @announcement.map do |announcement| %>
     <tr>
      
        <td><%=Announcement.find(announcement).created_at.to_date.strftime("%d-%m-%Y")%></td>
       <td><%=Announcement.find(announcement).message%></td>


        <% if Announcement.find(announcement).is_for_all == true %>

        <td>ALL</td>

        <%else%>

         <%if Announcement.find(announcement).announcement_for.count == 1 %>
         
      <td><%=Franchisee.find(Announcement.find(announcement).announcement_for.first.franchisee_id).location%></td>
          <%else%>

          <td><%=Announcement.find(announcement).announcement_for.count%></td>

          <%end%>
        <%end%>
        
           <td>
         
              <% if Announcement.find(announcement).deactivated == false %>
                  <%#= link_to '<i class="btn-sm btn-blue fa fa-money" aria-hidden="true"> Deactive</i>'.html_safe %>
                  <%= link_to '<i class="btn-sm btn-red fa fa-check-circle" aria-hidden="true"></i>'.html_safe, announcements_announcement_deactive_path(id: announcement) , data: { confirm: 'Do you want to remove?' } %>
              <% end %>
            </td>
       
     </tr>
    <% end %>
  </tbody>
</table>

   <div class="side-pop" style="color:white; display:none">
    <ul>
    <li><a title="Show" id="show"> <i class="btn btn-sm btn-default fa fa-sm fa-eye"></i></a></li>
      <li><a title="Edit" id="edit" > <i class="btn btn-sm btn-default fa fa-sm fa-pencil" ></i></a></li>
       <li><a title="Delete" id="destroy" data-method="delete" class="confirmation"> <i class="btn btn-sm btn-default fa fa-sm fa-trash-o"></i></a></li> 
       <li><a title="Installments" id="show_installment"> <i class="btn btn-sm btn-default fa fa-sm fa-money"></i></a></li>
    </ul>
  </div> 

 </div> 


</div> 
<script type="text/javascript">
$(document).ready(function() {
  //alert("hi");
  $("#announcement_table").dataTable({
    columnDefs: [
    {orderable: false, targets: -1},
    {orderable: false, targets: -2},
    {orderable: false, targets: -3},
    ]
  });
});
</script>

<style type="text/css">
.btn-orange{
color: #fff;
}
.crud{
    color: green;
  }
  .actn{
/*display: none;*/
width: 58px;
/*position: fixed;*/
background-color: #e26616;
right: 0px;
/*top: 303px;*/
z-index: 10;
border-radius: 8px;
height: 104px;
padding: 12px 5px;
}
</style>


<style type="text/css">

.po-content{

  display: none;

}

.popover-body ul{

  list-style:none !important;

  padding-left:0px;

}

.popover-body ul li{

  padding-top: 10px;

}

/*.popover-body ul li .btn{

  width: 25px;

}
*/
.popover-body ul li .btn:hover{

 background-color: #de681d;

border-color: #de681d;

}

</style>



<!-- actions bar -->


<script>
/*$(document).ready(function(){
   $( "#actions").hide();
    $(".show").click(function(){
        $("#actions").show();
    });
   
});*/
</script> 



<script type="text/javascript">
  $(document).ready(function() {
var table = $('#franchisee_table').DataTable({
   "scrollY":  '50vh',
    "crollCollapse": true,
    "scrollX": true
});
    $('#franchisee_table tbody').on('click', 'tr', function () {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var id = $(this).attr('id'); 
            $(".side-pop").show();
            $("#show_installment").attr("href","/installment_details/"+id);
            $("#show").attr("href","/franchisees/"+id);
            $("#destroy").attr("href","/franchisees/"+id);
           $("#edit").attr("href","/franchisees/"+id+"/edit");
    } ); 
});

  $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
</script>

<style type="text/css">
  .side-pop{ 
    height:auto; 
    padding:2px; 
    background-color:#E67A3F;
    border:1px solid #E67A3F; 
    position:fixed; 
    top:50%; 
    right:0; 
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease; 
    border-radius:4px 0 0 4px; 
    margin-top:-100px;
  }
.side-pop ul{ 
  width:auto; 
  height:auto; 
  margin:0; 
  padding:0; 
}
.side-pop ul li{ 
  float:none; 
  width:30px; 
  height:20px; 
  margin:0; padding:0; 
  list-style:none; 
  text-align:center; 
  margin-bottom:10px; 
  font-size:20px; 
}
.side-pop ul li a{ 
  color:#fff; 
  display:block; 
  text-decoration:none; 
  text-align:center;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease; 
    -ms-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; 
    transition: all 0.2s ease; 
  }
.side-pop ul li a strong{
  font-weight:900;
}  
.side-pop ul li a:hover{ 
  color:#f0ebf0;
  -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25);
     transform:scale(1.25);}
.side-show{
  right:0px;
}
.side-pop .close{ 
  width:auto; 
  font-size:15px; 
  color:#BE2134; 
  margin-top:5px; 
  text-align:center;
}
</style>