<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BrainCarve</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-turbolinks="false">
  
  <div class="text-center" style="padding:50px 0">
  <div class="mx-auto mt-5 card">
  <div class="logo"><%= image_tag "logo.png" %></div>

  <%="<div style='width: 100%;color:red;' class='alert-sm alert-danger'> #{alert}</div>".html_safe if alert%>
  <%="<div style='width: 100%;color:green;' class='alert-sm alert-success'> #{notice}</div>".html_safe if notice%>

  <div class="info" >  We will send you a link to reset your password. </div>

  
  <div class="reset_password_form">
    <%= form_tag sessions_forgot_password_link_path, :method => :post do %>

      <div class='field'>
      <%= text_field_tag :email_id, params[:email], class: "form-control", placeholder: "Your Email Address" %>
      </div>
      <br>
      <div class='actions'>
      <%= submit_tag "Send", class: "btn btn-default reset_button form-control" %>
      </div>
    <% end %>
  </div>
      
  </div>
</div>
</body>
</html>


<style>
html,
body {
  background: #efefef;
  padding: 10px;
  font-family: 'roboto';
}
.card {
    border-bottom: 3px solid #EF5800;
    margin-bottom: 30px;
    max-width: 360px;
    align-items: center;
    # margin-left: 35%;
    # margin-top:7%;
    border-color: none;
}
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
.info{
  font-size: 12px;
  font-style: italic;
}
.reset_password_form{
  padding: 30px;
}
.reset_button{
  background-color: #ffb380;
  color:  #cc5200;
  border-radius: 1px;
}
</style>

