<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BrainCarve</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-turbolinks="false">
  
  <div class="text-center" style="padding:50px 0">
  <div class="mx-auto mt-5 card">
  <div class="logo"><%= image_tag "logo.png"%></div>
<br>
  <div class="info" >Enter your new password and click submit</div>

<div class="reset_password_form">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'update_new_password'}) do |form| %>
          
        <div class="form-group">
              <%= form.password_field :password, required: true, class: "form-control", id: "user-password", placeholder: "New password"%>
              
          </div>

          <%=form.hidden_field :user_id, :value => @user.id%>

          <div class="form-group">
              <%= form.password_field :password_confirmation, required: true, class: "form-control", id:"user-confirm-password", placeholder: "Confirm Password"%>
         </div>
             <%= submit_tag "Submit",class: "btn btn-orange form-control pswd-submit" %>
 
        <% end %>
   </div>
      
  </div>
</div>
</body>
</html>


    
 <script type="text/javascript">
    $(function () {
        $(".pswd-submit").click(function () {
            var password = $("#user-password").val();
            var confirmPassword = $("#user-confirm-password").val();
            if (password != confirmPassword) {
                  sweetAlert("Password doesn't match.");
                return false;
            }
            return true;
        });
    });
</script>      
         

<style type="text/css">
  html,
body {
  background: #efefef;
  padding: 10px;
  font-family: 'roboto';
}
.card {
    border-bottom: 3px solid #EF5800;
    margin-bottom: 30px;
    max-width: 360px;
    align-items: center;
    # margin-left: 35%;
    # margin-top:7%;
    border-color: none;
}
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
.info{
  font-size: 12px;
  font-style: italic;
  margin: 20px;
}
.reset_password_form{
  padding: 30px;
}
  .btn-orange{
    background-color: #ffb380;
    color:  #cc5200;
    border-radius: 1px;
    margin-bottom: 20px;
  }
</style>