<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @emp_monthly_salary.employee %>
</p>

<p>
  <strong>Salary for:</strong>
  <%= @emp_monthly_salary.salary_for %>
</p>

<p>
  <strong>No of leave:</strong>
  <%= @emp_monthly_salary.no_of_leave %>
</p>

<p>
  <strong>Net salary:</strong>
  <%= @emp_monthly_salary.net_salary %>
</p>

<%= link_to 'Edit', edit_emp_monthly_salary_path(@emp_monthly_salary) %> |
<%= link_to 'Back', emp_monthly_salaries_path %>
