<%= form_with(model: invoice_payment, local: true) do |form| %>
  <% if invoice_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_payment.errors.count, "error") %> prohibited this invoice_payment from being saved:</h2>

      <ul>
      <% invoice_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id, id: :invoice_payment_invoice_id %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date, id: :invoice_payment_payment_date %>
  </div>

  <div class="field">
    <%= form.label :payment_mode %>
    <%= form.text_field :payment_mode, id: :invoice_payment_payment_mode %>
  </div>

  <div class="field">
    <%= form.label :reference_no %>
    <%= form.text_field :reference_no, id: :invoice_payment_reference_no %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid, id: :invoice_payment_amount_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
