<ul id="progressbar" class="justify-content-center">
    <li class="step">Personal</li>    
    <li class="step">Parent's</li>
    <li class="step">Reference</li>
    <!-- <li class="step">File upoload</li> -->
  </ul>

  <!-- One "tab" for each step in the form: -->

<%= form_for @student, :validate => true do |form| %>
  <!-- tab-1 -->
  <div class="tab">
    <h1 class="tab-title">Personal Info</h1>

    <div class="row">
        <div class="col-md-2 form-group">
      <label class="col-sm-12 col-md-12 control-label">Registration Date <b>*</b></label>

      <div class="col-sm-9 col-md-12 ">
           <% if form.object.registration_date.present? %>
          <%= form.text_field :registration_date, id: :registration_date, value: form.object.registration_date, class: "form-control mandatory"%>
        <% else %>
          <%= form.text_field :registration_date, id: :registration_date, value: Date.today, class: "form-control mandatory"%>
        <% end %>
          </div>
        </div>
          <%= form.hidden_field :current_level, value: 0 %>


         <div class="col-md-3 form-group">
            <label class="col-sm-12 col-md-12 control-label">Program *</label>
            <div class="col-sm-10 col-md-12 ">
                <%# unless form.object.program.present? %>
                    <%= form.collection_select :program, list_of_programs, :to_s, :to_s,{prompt: "Select"},{class: "form-control mandatory" }%>
                <%# else %>
                    <%#= form.text_field :program, readonly: true, class: "form-control mandatory" %>
                <%# end %>
             </div>
        </div>



        <div class="col-md-3 form-group">
            <label class="col-sm-12 col-md-12 control-label">Level *</label>
            <div class="col-sm-10 col-md-12 ">
                <% unless form.object.level.present? %>

                    <%= form.select :level, @student_levels.keys.map{|j| [j, j]}, {prompt: "Select"},{class: "form-control mandatory",:required=> true}%>


                <% else %>
                    <%= form.text_field :level, readonly: true, class: "form-control mandatory" %>
                <% end %>
             </div>
        </div>

       

     <div class="col-md-4 form-group">
      <label class="col-sm-12 col-md-12 control-label">Batch <b>*</b></label>
      <div class="col-sm-9 col-md-12 ">
          <%= form.collection_select :batch_id, Batch.where(:created_by_id=>session[:user_id]), :id, :batch_name, {prompt: " - Select Batch - "}, {class: "form-control mandatory"} %>
        </div>
    </div>
  </div>

  <div class="row">
        <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-10 col-md-12 control-label">Student Name <b>*</b></label>
            <div class="col-sm-9 col-md-12">

              <%= form.text_field :student_name, id: :student_student_name, class: "form-control mandatory" %>
            </div>
        </div> 
        <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-12 col-md-12 control-label">Date of Birth <b>*</b></label>
            <div class="col-sm-12 col-md-12">
                <%= form.text_field :dob, id: :birthdate, class: "form-control mandatory", :required=> true%>
            </div>
        </div>
      
       <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-10 col-md-12 control-label">Age</label>
            <div class="col-sm-9 col-md-12">
              <%= form.number_field :age, id: :age_input, class: "form-control", :required=> true, :readonly=> true%>
            </div>
        </div>
       
        </div>

        <div class="row">

        <div class="form-group col-md-4">
          <label for="firstName" class="col-md-12 control-label">Gender <b>*</b></label>
            <div class="col-md-12 ">
               <%= form.select :gender, @student_genders.keys.map{|k| [k, k]},{prompt: "Select"}, {class: "form-control mandatory", :required=> true}%>

            </div>
        </div>
       <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-10 col-md-12  control-label">Contact Number / WhatsApp <b>*</b></label>
            <div class="col-sm-9 col-md-12">
               <%= form.text_field :contact_no, id: :student_contact_no, class: "form-control mandatory" %>
               <span id="number_error" class="error"></span>
            </div>
        </div>

      <div class="form-group col-md-4">
        <label for="exampleTextarea" class="col-sm-3 col-md-12 control-label">Address <b>*</b></label>
            <div class="col-sm-9 col-md-12">
                <%= form.text_area :address, id: :student_address, class: "form-control mandatory", rows: 1 %>
            </div>
      </div>
    </div>

    <div class="row">
           <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Name of School <b>*</b></label>
            <div class="col-sm-9 col-md-12">
              <%= form.text_field :school_name, id: :student_school_name, class: "form-control mandatory" %>
            </div>
          </div>
          <div class="form-group col-md-4">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Class <b>*</b></label>
            <div class="col-sm-9 col-md-12">
               <%= select_tag "student[student_class]", options_from_collection_for_select(list_of_class,:to_s,:to_s,form.object.student_class), {class: "form-control mandatory"}%>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="firstName" class="col-sm-3  col-md-12 control-label">Location of School</label>
              <div class="col-sm-9 col-md-12">
                <%= form.text_field :school_location, id: :student_school_location, class: "form-control"%>
              </div>
          </div>
        </div>
  
             
              
  </div>
  <!-- tab-1 ends -->

<!-- tab-2 -->
<%= form.fields_for :student_detail, :validate => true do |a| %>
  <div class="tab">
  <h1 class="tab-title">Parent's Info</h1>
  <div class="row">
          <div class="form-group col-md-6">
            <label for="firstName" class="col-sm-3 col-md-12  control-label">Father's Name <b>*</b></label>
              <div class="col-sm-9 col-md-12">
                <%= a.text_field :father_name, id: :student_detail_father_name, class: "form-control mandatory" %>
            </div>
        </div>


        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Occupation</label>
            <div class="col-sm-9 col-md-12">
               <%= a.text_field :father_occupation, id: :student_detail_father_occupation, class: "form-control" %>
            </div>
        </div>
        
         <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Email Id <b>*</b></label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_field :father_email, id: :student_detail_father_email, class: "form-control mandatory" %>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Contact Number <b>*</b></label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_field :father_contact_no, id: :student_detail_father_contact_no, class: "form-control mandatory" %>
            </div>
        </div>
        </div>


        <div class="row">
           
        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Mother's Name <b>*</b></label>
            <div class="col-sm-9 col-md-12">
               <%= a.text_field :mother_name, id: :student_detail_mother_name, class: "form-control mandatory" %>
            </div>
        </div>

        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Occupation</label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_field :mother_occupation, id: :student_detail_mother_occupation, class: "form-control" %>
            </div>
        </div>
         <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Email Id</label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_field :mother_email, id: :student_detail_mother_email, class: "form-control" %>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3  col-md-12 control-label">Contact Number</label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_field :mother_contact_no, id: :student_detail_mother_contact_no, class: "form-control" %>
            </div>
        </div>
      </div>
  


    
  </div>
  <!-- tab-2 ends-->

  <!-- tab-3 -->
  <div class="tab">
    <h1 class="tab-title">Reference</h1>

    <div class="row">
        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3  col-md-12 control-label">Heard of BrainCarve first at</label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_area :known_by, id: :student_detail_known_by, class: "form-control" %>
            </div>
        </div>

        <div class="form-group col-md-6">
          <label for="firstName" class="col-sm-3 col-md-12 control-label">Reason for Enrolling your child</label>
            <div class="col-sm-9 col-md-12">
              <%= a.text_area :reason_to_enroll, id: :student_detail_reason_to_enroll, class: "form-control" %>
            </div>
        </div>
       </div>
  </div>

<%end%>

   <!-- tab-3 ends-->


  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      <button type="submit" id="submitBtn">Submit</button>
    </div>
  </div> 

    <div>
      <b>*</b> Fields are Required
    </div>
    
<% end %>



<!-- Style for Multistep form - start -->



<style type="text/css">
#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 25px 30px;
  width: 100%;
  min-width: 250px;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #fdebe1;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.multi-step-form button {
  background-color: #828488;
color: #ffffff;
border: none;
padding: 10px 20px;
font-size: 17px;
font-family: Raleway;
cursor: pointer;
border-radius: 30px;
}

.multi-step-form button:hover {
  opacity: 0.8;
  /*background-color: #e67a3f;*/
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
/*.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}*/

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
  .step.finish:after{
   background-color: #E67A3F !important;
  }

  #progressbar li .finish:before, #progressbar li .finish:after{
        background: #27AE60 !important;
            color: white;
  }
  #progressbar li.finish:before{
    background: #E67A3F !important;
            color: white;
  }

.multi-step-form .tab-title{
font-size: 20px;
font-weight: 600;
margin-bottom: 30px;
color: #828488;
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    width: 75%;
    margin: 0 auto;
}
#progressbar li {
    list-style-type: none;
    color: #e67b40;
    text-transform: uppercase;
    font-size: 12px;
    width:20.33%;
    float: left;
    position: relative;
    text-align: center;
}
#progressbar li.active:before{
    /*background: #E67A3F; */
    background: #D4530D;
    color: white;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #fff;
    background: #848282;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #848282;
    position: absolute;
    left: 57%;
    top: 9px;
    z-index: 22s;
}
#progressbar li:nth-last-child(1):after{
   content: none;
} 
@media only screen and (max-width:767px){
  #progressbar{
    margin: 0 auto;
    padding: 0px;
    width: 100%;
  }
  #progressbar li:after{
    left: 61%;
  }
  #regForm{
  padding: 25px 0px;
  }
  #progressbar li{
    width: 24.33%!important;
    font-size: 9px;
  }
}
</style>

<style type="text/css">
  .temp_form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  }

</style>

<script src="/assets/student_validation.js" type="text/javascript"></script>


