<%= form_with(model: company_royalty_detail, local: true) do |form| %>
  <% if company_royalty_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_royalty_detail.errors.count, "error") %> prohibited this company_royalty_detail from being saved:</h2>

      <ul>
      <% company_royalty_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :franchisee_id %>
    <%= form.text_field :franchisee_id, id: :company_royalty_detail_franchisee_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :company_royalty_detail_amount %>
  </div>

  <div class="field">
    <%= form.label :royalty_type %>
    <%= form.check_box :royalty_type, id: :company_royalty_detail_royalty_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
