<p id="notice"><%= notice %></p>

<h1>Company Royalties</h1>

<table>
  <thead>
    <tr>
      <th>Franchisee</th>
      <th>Student royalty</th>
      <th>Franchisee royalty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_royalties.each do |company_royalty| %>
      <tr>
        <td><%= company_royalty.franchisee %></td>
        <td><%= company_royalty.student_royalty %></td>
        <td><%= company_royalty.franchisee_royalty %></td>
        <td><%= link_to 'Show', company_royalty %></td>
        <td><%= link_to 'Edit', edit_company_royalty_path(company_royalty) %></td>
        <td><%= link_to 'Destroy', company_royalty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Royalty', new_company_royalty_path %>
