<%= form_with(model: order_request_item, local: true) do |form| %>
  <% if order_request_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_request_item.errors.count, "error") %> prohibited this order_request_item from being saved:</h2>

      <ul>
      <% order_request_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_request_id %>
    <%= form.text_field :order_request_id, id: :order_request_item_order_request_id %>
  </div>

  <div class="field">
    <%= form.label :inventory_item_id %>
    <%= form.text_field :inventory_item_id, id: :order_request_item_inventory_item_id %>
  </div>

  <div class="field">
    <%= form.label :request_qty %>
    <%= form.number_field :request_qty, id: :order_request_item_request_qty %>
  </div>

  <div class="field">
    <%= form.label :cost_per_item %>
    <%= form.text_field :cost_per_item, id: :order_request_item_cost_per_item %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :order_request_item_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
