<div class="modal-dialog modal-lg">
  <div class="modal-content">
 <div class="modal-header">Payment Form<button type="button" class="close" data-dismiss="modal">&times;</button></div>
<div class="modal-body">
<div class="table">

<% @installment = InstallmentDetail.find(params[:id]) %>

<%= form_for(:installment_detail, :url => {:controller => 'installment_details', :action => 'installment_pay'}) do |form| %>

<div class="row">
  <div class="col-md">
    <%= form.label :payment_date, "Date" %>
      <%= form.text_field :payment_date, id: :payment_date, class: "form-control", value: @installment.installment_date %>
  </div>

  <div class="col-md">
    <%= form.label :installment_amount, "Amount" %>
    <%= form.text_field :installment_amount, class: "form-control", id: :installment_amount, value: @installment.installment_amount, readonly: true %>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <%= form.label :payment_mode, "Payment Mode" %>
      <%#= form.text_field :payment_mode, id: :payment_mode, class: "form-control" %>
      <%= form.select :payment_mode, payment_mode_list.map{|k|[k ,k]}, {prompt: true}, class: "form-control", id: :payment_mode %>
  </div>

   <div class="col-md">
    <%= form.label :reference_no, "Reference Number" %>
    <%= form.text_field :reference_no, class: "form-control", id: :payment_reference_no %>
  </div>
</div>
  

  <%= form.hidden_field :id, value: params[:id] %>
<br>
  <div class="actions submit_n_cancel">
    <%= form.submit "Pay", class: "btn btn-info btn-sm leave_btn", :onclick => "return validateForm();" %>
  </div>
<% end %>


</div>
</div>
</div>
</div>

<style type="text/css">
  .modal-header{
    background-color: #646873;
  }
  .center{
    align-content: center;  }
</style>
 

<script>

$(document).ready(function() {
  $('#payment_date').flatpickr({
    maxDate: 'today',
  });
});

function validateForm(){
  if ($('#payment_mode').val().length   >   0) {
        return true;
    }
    else {
        sweetAlert("Payment Mode is Required");
        return false;
    }
}

</script>