<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchase_id %>
    <%= form.text_field :purchase_id, id: :payment_purchase_id %>
  </div>

  <div class="field">
    <%= form.label :payment_mode %>
    <%= form.text_field :payment_mode, id: :payment_payment_mode %>
  </div>

  <div class="field">
    <%= form.label :reference_no %>
    <%= form.text_field :reference_no, id: :payment_reference_no %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid, id: :payment_amount_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
