<div id="dynamic_renewal_data">

   <%if @renewals.present? %>
   
   <!-- <div>
    <p><%#= @dynamic_employee_leave.first.last.leave_date.to_date.strftime("%B") %></p>
   </div> -->

    <table id="dynamic_renewal_table" class="table table-striped display" cellspacing="0" width="100%">
      <thead>
        <tr>
           <th>Franchisee</th>
          <th>Owner</th>
          <th>Agreement Date</th>
          <th>Current Renewal</th>
          <th>Renewals</th>
        </tr>
      </thead>
      <tbody>
        <% @renewals.each do |franchisee| %>      
              <tr>
                <td><%= franchisee.location %></td>
                <td>
                  <% franchisee.franchisee_owners.each do |owner| %>
                      <ul><%= owner.salutation %><%= owner.first_name %> <%= owner.last_name %></ul>
                  <% end %>
                </td>
                <td><%= franchisee.franchisee_agreement.agreement_date.to_date.strftime("%d-%m-%Y") if franchisee.franchisee_agreement.agreement_date %></td>
                <td><%= franchisee.latest_renewal.to_date.strftime("%d-%m-%Y") if franchisee.latest_renewal %></td>
                <td>  
                  <div class="po-markup">  
                    <a class="detail-btn  po-link" href="#"  data-trigger="focus"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
                      <div class="po-content hidden">
                        <div class="po-body">  
                          <%= franchisee.franchisee_agreement.renewal_date.to_date.strftime("%d-%m-%Y") if franchisee.franchisee_agreement.renewal_date %> 
                          <% franchisee.agreement_renewals.each do |renewal| %>
                            <ul><%= renewal.renewed_date.to_date.strftime("%d-%m-%Y") if renewal.renewed_date  %></ul>
                          <%end%>
                        </div>
                      </div>  
                  </div>
                </td>

              </tr>    
            <% end %>
      </tbody>
    </table>
    <%else%>
          <tr><div class="search_result"><p><i class="fa fa-search" aria-hidden="true"> No Record Found</i></p></div></tr>
    <%end%>
</div>

  <!-- <%#  @dynamic_employee_leave.first.map do |emp_leave| %>  
              <tr>
              <td><%#= emp_leave.employee.prefix %> <%#= emp_leave.employee.first_name %> <%#= emp_leave.employee.last_name %></td>
              <td>  
                  <ul><%#= emp_leave.leave_date.to_date.strftime("%d-%m-%Y") if emp_leave.leave_date %></ul>
              </td>
            </tr>   
          <%# end %> -->


<style type="text/css">
  .search_result{
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-family: "roboto";
  }
</style>
<script type="text/javascript">
      $(document).ready(function() {
  $("#dynamic_renewal_table").dataTable();
});
</script>

<style type="text/css">
.btn-orange{
background-color: #E26616;
color: #fff;
}


.po-content{

  display: none;

}

.popover-body ul{

  list-style:none !important;

  padding-left:0px;

}

.popover-body ul li{

  padding-top: 10px;

}

/*.popover-body ul li .btn{

  width: 25px;

}
*/
.popover-body ul li .btn:hover{

 background-color: #de681d;

border-color: #de681d;

}

</style>
