<div class="card">
	<div class="card-header">
	 <h3>Overall Students Report

	 	<div class="pull-right">
				<%= link_to "<i class='btn btn-default fa fa-download'></i>".html_safe, reports_report_xls_generate_path(format: "xls", data: @students.ids, date: @selected_period.map{|i| i}), title: "Downoad Report" %>
			</div>

    <div class="col-md-2 pull-right"">
        <%= select_tag "year_to_select", options_from_collection_for_select(year_list, :to_s, :to_s, selected: Date.current.year), { class: "form-control", id: 'year_to_select'} %>
      </div>
    <div class="col-md-2 pull-right"> 
        <%= select_tag "month_to_select", options_from_collection_for_select(month_list, :first, :last), { class: "form-control", id: 'month_to_select'} %>
      </div>
    </h3>
	</div>
	<div class="card-body">
		<div class="card-title">
			
	 <div id="dynamic_report_data">

		<table id="student_report" class="table table-striped display" cellspacing="0" width="100%">
		 <thead>
		   <tr>
		    <th>Name</th>
		    <th>Grade</th>
		    <th>Level Joind</th>
		    <th>Current Level</th>
		    <th>Parent Name</th>
		    <th>Contact</th>
		    <th>Date of Join</th>
		    <th>Class Fee</th>
		    <th>Royalty</th>
		    <th>Center</th>
		    
		 
		    
		   </tr>
		 </thead>
		 <tbody>
		<% @students.each do |student| %>
		      <tr>
		
			      <td class="std-name"><%= student.student_name %></td> 
			      
			      <td class="std-name"><%= student.student_class %></td> 

			      <td><%= student.level_join %></td>

			      <td class="sch-name"><%= student.level %></td> 

                 <td class="sch-name"><%= student.student_detail.father_name %></td> 
			      
			      <td class="sch-name"><%= student.contact_no %></td>
			      
			      <td class="reg-date"><%= student.registration_date.to_date.strftime("%d-%m-%Y") if student.registration_date%></td>

        
			      <td><%= student.student_detail.student_fee_pays.where(dated: @selected_period, fee_type: "Class Fee").pluck(:amount).sum%></td>
			     
			     <td><%= student.student_detail.student_fee_pays.where(dated: @selected_period, fee_type: "Class Fee").pluck(:amount).sum - student.student_detail.student_fee_pays.where(dated: @selected_period, fee_type: "Class Fee").pluck(:exclude_royalty).sum%></td>

			     <td> <%= student.student_detail.student_fee_pays.where(dated: @selected_period, fee_type: "Class Fee").pluck(:exclude_royalty).sum%></td>

			     
			     </tr>
			    <% end %>
		   
		  </tbody>
		</table>
	</div>

</div>
</div>
</div>

	<script type="text/javascript">
    
//     $('.customer_select').change(function(){
//   var id = $(this).val();
//   $.get( "/student_report_show?student_id="+id );
  
// });

   
// $('.select').selectize({
// 	sortField: 'text'
// 	});


  $(document).ready(function() {
  $("#student_report").dataTable();
});
</script>
<script type="text/javascript">
	$('#month_to_select').on('change', function () {
  var month_input =($(this).val());
  var year_input = ($("#year_to_select").val());
      $.ajax({
        type: "GET",
         url: "/reports/monthwise_student_report?month_selected="+ month_input+"&&year_selected="+year_input,
      })
  });
$('#year_to_select').on('change', function () {
  var month_input = ($("#month_to_select").val());
  var year_input = ($(this).val());
      $.ajax({
        type: "GET",
         url: "/reports/monthwise_student_report?month_selected="+ month_input+"&&year_selected="+year_input,
      })
  });
</script>