<div class="card">
  <div class="card-header">
    <h3>Franchisee Renewals
    <div class="col-md-3 pull-right"">
        <%#= select_tag "year_to_select", options_from_collection_for_select(year_list, :to_s, :to_s, selected: Date.current.year), { class: "form-control", id: 'year_to_select'} %>
        <%= text_field_tag :date ,"", class: "form-control date_range pull-right",id: "date", placeholder: "Choose Date Range" %>
      </div>
    </h3>
  </div>
  <div class="card-body">

<div id="dynamic_renewal_data">
    <table id="renewal_table" class="table table-striped display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Franchisee</th>
          <th>Owner</th>
          <th>Agreement Date</th>
          <th>Current Renewal</th>
          <th>Renewals</th>
        </tr>
      </thead>
      <tbody>
        <% @renewals.each do |franchisee| %>      
          <tr>
            <td><%= franchisee.location %></td>
            <td>
              <% franchisee.franchisee_owners.each do |owner| %>
                  <ul><%= owner.salutation %><%= owner.first_name %> <%= owner.last_name %></ul>
              <% end %>
            </td>
            <td><%= franchisee.franchisee_agreement.agreement_date.to_date.strftime("%d-%m-%Y") if franchisee.franchisee_agreement.agreement_date %></td>
            <td><%= franchisee.latest_renewal.to_date.strftime("%d-%m-%Y") if franchisee.latest_renewal %></td>
            <td>  
              <div class="po-markup">  
                <a class="detail-btn  po-link" href="#"  data-trigger="focus"><i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
                  <div class="po-content hidden">
                    <div class="po-body">  
                      <%= franchisee.franchisee_agreement.renewal_date.to_date.strftime("%d-%m-%Y") if franchisee.franchisee_agreement.renewal_date %> 
                      <% franchisee.agreement_renewals.each do |renewal| %>
                        <ul><%= renewal.renewed_date.to_date.strftime("%d-%m-%Y") if renewal.renewed_date  %></ul>
                      <%end%>
                    </div>
                  </div>  
              </div>
            </td>

          </tr>    
        <% end %>
      </tbody>
    </table>
</div>


</div>
</div>
<style type="text/css">
.btn-orange{
background-color: #E26616;
color: #fff;
}


.po-content{

  display: none;

}

.popover-body ul{

  list-style:none !important;

  padding-left:0px;

}

.popover-body ul li{

  padding-top: 10px;

}

/*.popover-body ul li .btn{

  width: 25px;

}
*/
.popover-body ul li .btn:hover{

 background-color: #de681d;

border-color: #de681d;

}

</style>


<script type="text/javascript">
$(document).ready(function() {
  $("#renewal_table").dataTable({
    columnDefs: [
    {orderable: false, targets: -1},
    {orderable: false, targets: -2},
    {orderable: false, targets: -3},
    ]
  });
});
$('#select').selectize({
  create: true,
});

$('.date_range').flatpickr({
   mode: "range",
   //dateFormat: "d-m-Y"
 });


$('.date_range').on('change', function(){
 var date_range = $(".date_range").val();
 
  $.get( "/reports/dynamic_renewal_data?date_range="+date_range);

});

</script>


<script>

$(document).ready(function(){

    $('[data-toggle="popover"]').popover(); 


});

$(document).ready(function() {

            $('.po-markup > .po-link').popover({

            trigger: 'active',

            html: true,  // must have if HTML is contained in popover

            // get the title and conent

            title: function() {

                return $(this).parent().find('.po-title').html();

            },

            content: function() {

                return $(this).parent().find('.po-body').html();

            },

            container: 'body',

            placement: 'right'

            });

        }); 

</script>

